$navHeight: 72px;
$sidebarLeftMargin:150px;

.view {
    margin-top: $navHeight;
    display: flex;

    >.left {
        flex: none;
        width: 256px;
        margin-left: $sidebarLeftMargin;
    }

    >.right {
        flex: 1;
    }
}