$navHeight: 72px;
$sidebarLeftMargin:150px;
$sidebarWidth:256px;

.view {
    margin-top: $navHeight;

    >.left {
        position: fixed;
        width: $sidebarWidth;
        left: $sidebarLeftMargin;
    }

    >.right {
        margin-left: $sidebarLeftMargin + $sidebarWidth;
    }
}